@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
}

input::placeholder {
    color: rgba(255,255,255,.5);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #6366f1;
    border-radius: 999px;
}